<main class="page-main">
  <section class="s-slider">
    <div class="js-slider-homepage">
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="uk-inline">
              <img src="assets/img/img-slide-1.jpg" alt="image" />
              <div class="uk-overlay-primary uk-position-cover"></div>
              <div
                class="uk-overlay uk-position-center-left uk-light uk-width-1-1"
              >
                <div class="uk-container">
                  <h1>
                    Rent high-quality equipment <br />
                    & Industry Solutions
                  </h1>
                  <p class="uk-text-lead">
                    No matter what type of heavy machinery or mining equipment
                    you need <br />
                    to rent, our rental services are ready to assist you
                  </p>
                  <div data-uk-margin>
                    <a
                      class="uk-button uk-button-danger uk-button-large"
                      href="#!"
                      ><span></span><span data-uk-icon="arrow-right"></span
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="uk-inline">
              <img src="assets/img/img-slide-2.jpg" alt="image" />
              <div class="uk-overlay-primary uk-position-cover"></div>
              <div class="uk-overlay uk-position-center uk-light">
                <div class="uk-container uk-text-center">
                  <h1>
                    Convenient and straightforward methods to<br />
                    select the appropriate equipment
                  </h1>
                  <p class="uk-text-lead">
                    No matter what type of heavy machinery or mining equipment
                    you need <br />
                    to rent, our rental services are ready to assist you
                  </p>
                  <div data-uk-margin>
                    <a
                      class="uk-button uk-button-danger uk-button-large"
                      href=""
                    >
                      <span></span><span data-uk-icon="arrow-right"></span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>
  <!-- <div class="search-form">
        <div class="uk-container">
            <div class="search-form__box">
                <form class="uk-form-stacked" action="#!">
                    <div class="uk-grid uk-grid-small uk-grid-divider uk-child-width-1-4@l uk-child-width-1-2@s uk-flex-middle" data-uk-grid>
                        <div><label class="uk-form-label">Select Category</label>
                            <div class="uk-form-controls"><select class="js-select">
                                    <option value="Aerial Machines">Aerial Machines</option>
                                    <option value="Aerial Machines">Aerial Machines</option>
                                    <option value="Aerial Machines">Aerial Machines</option>
                                    <option value="Aerial Machines">Aerial Machines</option>
                                </select></div>
                        </div>
                        <div><label class="uk-form-label">Pickup Location</label>
                            <div class="uk-form-controls"><select class="js-select">
                                    <option value="Newyork">Newyork</option>
                                    <option value="Newyork">Newyork</option>
                                    <option value="Newyork">Newyork</option>
                                    <option value="Newyork">Newyork</option>
                                </select></div>
                        </div>
                        <div><label class="uk-form-label">When</label>
                            <div class="uk-form-controls"><input class="js-date" type="text" name="data" placeholder="July 30, 2021 02:30"></div>
                        </div>
                        <div><button class="uk-button uk-button-danger uk-button-large" type="button"><span>Find equipment</span><span data-uk-icon="arrow-right"></span></button></div>
                    </div>
                </form>
            </div>
        </div>
    </div> -->
  <section class="s-features">
    <div class="uk-section uk-container">
      <div class="uk-grid uk-child-width-1-2@m uk-flex-middle" data-uk-grid>
        <div>
          <div class="section-title">
            <!-- <small class="color-accent"
              >[30 Years Of Equipment Rental Expertise]</small
            > -->
            <h3>Offering rental solutions to leverage industry support.</h3>
          </div>
        </div>
        <div>
          <div class="section-content">
            <span
              >At Stellar Chain International Trading Company Limited, we offer
              rental, sales, and maintenance services for mining equipment and
              heavy machinery. Our team of experts provides top-notch technical
              support, ensuring reliable and efficient solutions to meet your
              specific needs. We are committed to delivering outstanding
              services to optimize your mining and construction
              operations.</span
            >
          </div>
        </div>
      </div>
      <div class="feature-items">
        <div data-uk-slider>
          <div class="uk-position-relative" tabindex="-1">
            <ul
              class="uk-grid uk-slider-items uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-3@l"
            >
              <li>
                <div class="feature-item">
                  <div class="feature-item__box">
                    <div class="feature-item__icon">
                      <img src="assets/img/ico-feature-1.png" alt="image" />
                    </div>
                    <div class="feature-item__title">
                      Comprehensive<br />
                      Rental Fleet
                    </div>
                    <div class="feature-item__text">
                      Explore our diverse rental fleet, offering a wide range of
                      equipment options to suit your needs, from heavy machinery
                      to specialized tools.
                    </div>
                    <div class="feature-item__more">
                      <a href="07_equipment-detail.html"
                        ><span data-uk-icon="arrow-right"></span
                      ></a>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="feature-item">
                  <div class="feature-item__box">
                    <div class="feature-item__icon">
                      <img src="assets/img/ico-feature-2.png" alt="image" />
                    </div>
                    <div class="feature-item__title">
                      Prepared to Serve<br />
                      Your Needs
                    </div>
                    <div class="feature-item__text">
                      We're ready to meet your needs with our diverse rental
                      fleet, providing everything from heavy machinery to
                      specialized tools for your projects.
                    </div>
                    <div class="feature-item__more">
                      <a href="07_equipment-detail.html"
                        ><span data-uk-icon="arrow-right"></span
                      ></a>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="feature-item">
                  <div class="feature-item__box">
                    <div class="feature-item__icon">
                      <img src="assets/img/ico-feature-3.png" alt="image" />
                    </div>
                    <div class="feature-item__title">
                      Equipment Perform<br />
                      at Top Levels
                    </div>
                    <div class="feature-item__text">
                      Equipment performing at top levels, ensuring efficiency
                      and reliability for your projects. Count on us to provide
                      high-performing equipment.
                    </div>
                    <div class="feature-item__more">
                      <a href="07_equipment-detail.html"
                        ><span data-uk-icon="arrow-right"></span
                      ></a>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
        </div>
      </div>
    </div>
  </section>
  <section class="s-brands">
    <div class="uk-container">
      <div class="section-title --center">
        <!-- <span>[Browse Equipment Brands]</span> -->
        <h3>
          Machinery Designed to Deliver the Uphill Tasks<br />
          with Working Advantages you Need
        </h3>
        <p>Choose any brand of which equipments you want to rent</p>
      </div>
      <div class="section-content">
        <div data-uk-slider="autoplay: true">
          <div class="uk-position-relative">
            <div class="uk-slider-container uk-light">
              <ul
                class="uk-slider-items uk-grid-small uk-child-width-1-1 uk-child-width-1-3@s uk-child-width-1-4@m uk-text-center"
              >
                <li>
                  <img
                    class="uk-width-1-1"
                    src="assets/img/brand-1.jpg"
                    alt="brand"
                  />
                </li>
                <li>
                  <img
                    class="uk-width-1-1"
                    src="assets/img/brand-2.jpg"
                    alt="brand"
                  />
                </li>
                <li>
                  <img
                    class="uk-width-1-1"
                    src="assets/img/brand-3.jpg"
                    alt="brand"
                  />
                </li>
                <li>
                  <img
                    class="uk-width-1-1"
                    src="assets/img/brand-4.jpg"
                    alt="brand"
                  />
                </li>
                <li>
                  <img
                    class="uk-width-1-1"
                    src="assets/img/brand-1.jpg"
                    alt="brand"
                  />
                </li>
                <li>
                  <img
                    class="uk-width-1-1"
                    src="assets/img/brand-2.jpg"
                    alt="brand"
                  />
                </li>
                <li>
                  <img
                    class="uk-width-1-1"
                    src="assets/img/brand-3.jpg"
                    alt="brand"
                  />
                </li>
                <li>
                  <img
                    class="uk-width-1-1"
                    src="assets/img/brand-4.jpg"
                    alt="brand"
                  />
                </li>
              </ul>
            </div>
            <div class="uk-visible@s">
              <a
                class="uk-slidenav uk-position-center-left-out"
                href="#"
                data-uk-slider-item="previous"
                data-uk-icon="arrow-left"
              ></a
              ><a
                class="uk-slidenav uk-position-center-right-out"
                href="#"
                data-uk-slider-item="next"
                data-uk-icon="arrow-right"
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="s-about">
    <div class="uk-section uk-container">
      <div class="uk-grid uk-child-width-1-2@m uk-flex-middle" data-uk-grid>
        <div class="uk-text-center">
          <img src="assets/img/img-about.png" alt="image" />
        </div>
        <div>
          <div class="section-title">
            <!-- <span>[Company Overview]</span> -->
            <h3>
              Helping the Industry with 10k+ Equipments available for Rentals
              Anytime
            </h3>
          </div>
          <div class="section-content">
            <p>
              Kiusmod tempor sed incididunts labore sed dolor mag aliqua enimad
              mini veniam quis nostrud exercitation ullamco labores nisi ut
              aliquip ex ea reprehen deritin voluptate.
            </p>
            <p>
              Lorem ipsum dolor tempor amety consecteur adipisicing elits do
              eiusmod tempor incididunt aliqua.
            </p>
            <div class="s-about__btns" data-uk-margin>
              <a
                class="uk-button uk-button-danger uk-button-large"
                href="11_about-us.html"
                data-uk-icon="arrow-right"
                >Get started</a
              ><a
                class="uk-icon-button ico_mission"
                href="11_about-us.html"
                data-uk-tooltip="title: Our Mission; pos: bottom"
              ></a
              ><a
                class="uk-icon-button ico_track"
                href="11_about-us.html"
                data-uk-tooltip="title: Our Mission; pos: bottom"
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- <section class="s-stats">
    <div class="uk-container uk-container-xlarge">
      <div
        class="uk-grid uk-grid-small uk-child-width-1-4@l uk-child-width-1-2@s"
        data-uk-grid
      >
        <div>
          <div class="stat-item">
            <div class="stat-item__box">
              <h6 class="stat-item__title">Rental Orders</h6>
              <span class="stat-item__value">3.4k</span>
              <p class="stat-item__text">
                Pioneer of the equipment rental industry.
              </p>
            </div>
          </div>
        </div>
        <div>
          <div class="stat-item">
            <div class="stat-item__box">
              <h6 class="stat-item__title">Experienced Team</h6>
              <span class="stat-item__value">125+</span>
              <p class="stat-item__text">
                Pioneer of the equipment rental industry.
              </p>
            </div>
          </div>
        </div>
        <div>
          <div class="stat-item">
            <div class="stat-item__box">
              <h6 class="stat-item__title">Customer Reviews</h6>
              <span class="stat-item__value">3.6k+</span>
              <p class="stat-item__text">
                Pioneer of the equipment rental industry.
              </p>
            </div>
          </div>
        </div>
        <div>
          <div class="stat-item">
            <div class="stat-item__box">
              <h6 class="stat-item__title">Verified Locations</h6>
              <span class="stat-item__value">150+</span>
              <p class="stat-item__text">
                Pioneer of the equipment rental industry.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <section class="s-reasons-choose">
    <div class="uk-section uk-container uk-container-large">
      <div class="uk-grid uk-child-width-1-2@l" data-uk-grid>
        <div>
          <div class="section-title">
            <!-- <span>[Equipment Rental Industry]</span> -->
            <h3>Reasons to Choose Stellar Chain International Trading Company Limited Equipment Rental Services</h3>
          </div>
          <div class="section-content">
            <div class="video-link" data-uk-lightbox="video-autoplay: true">
              <a
                href="https://youtu.be/IUYs3mYgEPI"
                data-attrs="width: 1280; height: 720;"
                data-caption="YouTube"
                ><img src="assets/img/ico-play.png" alt="image" /></a
              ><span
                >Helping with the best and wide selection of rental equipments
                always available.</span
              >
            </div>
          </div>
        </div>
        <div>
          <div data-uk-slider>
            <div class="uk-position-relative" tabindex="-1">
              <ul
                class="uk-slider-items uk-grid uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-2@l"
              >
                <li>
                  <div class="reason-item">
                    <img
                      class="reason-item__img"
                      src="assets/img/img-reason-1.jpg"
                      alt="reason"
                    />
                    <div class="reason-item__body">
                      <div class="reason-item__icon">
                        <img src="assets/img/ico-reason-1.png" alt="reason" />
                      </div>
                      <div class="reason-item__desc">
                        <h4 class="reason-item__title">
                          Out Class Performance
                        </h4>
                        <p class="reason-item__text">
                          The industry standard sit amest elits sed tempor
                          eiusmod.
                        </p>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="reason-item">
                    <img
                      class="reason-item__img"
                      src="assets/img/img-reason-2.jpg"
                      alt="reason"
                    />
                    <div class="reason-item__body">
                      <div class="reason-item__icon">
                        <img src="assets/img/ico-reason-2.png" alt="reason" />
                      </div>
                      <div class="reason-item__desc">
                        <h4 class="reason-item__title">
                          Collaborative Support
                        </h4>
                        <p class="reason-item__text">
                          The industry standard sit amest elits sed tempor
                          eiusmod.
                        </p>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="reason-item">
                    <img
                      class="reason-item__img"
                      src="assets/img/img-reason-1.jpg"
                      alt="reason"
                    />
                    <div class="reason-item__body">
                      <div class="reason-item__icon">
                        <img src="assets/img/ico-reason-1.png" alt="reason" />
                      </div>
                      <div class="reason-item__desc">
                        <h4 class="reason-item__title">
                          Out Class Performance
                        </h4>
                        <p class="reason-item__text">
                          The industry standard sit amest elits sed tempor
                          eiusmod.
                        </p>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="reason-item">
                    <img
                      class="reason-item__img"
                      src="assets/img/img-reason-2.jpg"
                      alt="reason"
                    />
                    <div class="reason-item__body">
                      <div class="reason-item__icon">
                        <img src="assets/img/ico-reason-2.png" alt="reason" />
                      </div>
                      <div class="reason-item__desc">
                        <h4 class="reason-item__title">
                          Collaborative Support
                        </h4>
                        <p class="reason-item__text">
                          The industry standard sit amest elits sed tempor
                          eiusmod.
                        </p>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <ul
              class="uk-slider-nav uk-dotnav uk-flex-center uk-margin-medium-top"
            ></ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- <section class="s-news">
    <div class="uk-section uk-container">
      <div class="section-title --center">
        <span>[Premier Equipment Rental Service]</span>
        <h3>Read Latest From Blog</h3>
      </div>
      <div class="section-content">
        <div class="js-news-slider">
          <div class="swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="new-item">
                  <a class="new-item__box" href="10_blog-post.html">
                    <div class="new-item__media">
                      <img src="assets/img/new-item-1.jpg" alt="news" />
                    </div>
                    <div class="new-item__body">
                      <div class="new-item__title">
                        <span>[Rent Equipment]</span>
                        <h4>
                          Basic Tips to Motivate Your Team and Increase
                          Production
                        </h4>
                      </div>
                      <div class="new-item__date">March 12, 2021</div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="new-item">
                  <a class="new-item__box" href="10_blog-post.html">
                    <div class="new-item__media">
                      <img src="assets/img/new-item-2.jpg" alt="news" />
                    </div>
                    <div class="new-item__body">
                      <div class="new-item__title">
                        <span>[Rent Equipment]</span>
                        <h4>
                          Excavator Components & Parts Which You Should Know How
                          to Rent
                        </h4>
                      </div>
                      <div class="new-item__date">March 12, 2021</div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="new-item">
                  <a class="new-item__box" href="10_blog-post.html">
                    <div class="new-item__media">
                      <img src="assets/img/new-item-3.jpg" alt="news" />
                    </div>
                    <div class="new-item__body">
                      <div class="new-item__title">
                        <span>[Rent Equipment]</span>
                        <h4>
                          Safe Driving Tips from Our Drivers and Techs to Yours
                          Warehouse
                        </h4>
                      </div>
                      <div class="new-item__date">March 12, 2021</div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
</main>
<!-- <section class="newsletter">
  <div class="uk-section uk-container uk-container-xlarge">
    <div class="newsletter__inner">
      <div class="newsletter-form">
        <div class="newsletter-form__title">
          <h4>
            Newsletter<br />
            Subscription
          </h4>
        </div>
        <div class="newsletter-form__form">
          <form action="#!">
            <input
              type="hidden"
              name="project_name"
              value="Suprek - Top-Of-The-Line Equipment Rentals"
            />
            <input type="hidden" name="admin_email" value="test@gmail.com" />
            <input
              type="hidden"
              name="form_subject"
              value="Newsletter Subscription"
            />
            <input
              type="email"
              name="email"
              placeholder="Enter Your Email"
            /><button type="submit">Subscribe</button>
          </form>
        </div>
      </div>
      <div class="download-app">
        <div class="download-app__title">
          <h4>Download Our App</h4>
          <p>Get Apps For Faster Booking</p>
        </div>
        <div class="download-app__links">
          <a
            class="download-link"
            href="https://www.apple.com/ua/app-store/"
            target="_blank"
            ><img src="assets/img/appstore.png" alt="appstore" /></a
          ><a
            class="download-link"
            href="https://play.google.com/"
            target="_blank"
            ><img src="assets/img/googleplay.png" alt="appstore"
          /></a>
        </div>
      </div>
    </div>
  </div>
</section> -->
