<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <title>Showcase</title>
  <meta content="Chernkh Mikhail" name="author">
  <meta content="Suprek - Top-Of-The-Line Equipment Rentals" name="description">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="HandheldFriendly" content="true">
  <meta name="format-detection" content="telephone=no">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="assets/css/libs.min.css">
  <link rel="stylesheet" href="assets/css/main.css">
  <link rel="stylesheet" href="assets/css/showcase.css">
</head>

<body class="page-showcase">
  <div class="page-wrapper">
    <main class="page-main">
      <div class="page-content">
        <div class="uk-section uk-container">
          <div class="uk-h3 uk-text-center uk-margin-large-bottom">SELECT A DEMO PAGE</div>
          <div class="uk-grid uk-grid-large uk-child-width-1-3@m uk-flex-center" data-uk-grid>
            <div>
              <div class="demopage-preview_item"><a class="demopage-preview_inner demopage-img" target="_blank" href="01_home.html" style="background-image: url(assets/preview/01_home.jpg);"></a></div>
              <div class="uk-h3 uk-text-center">01 Home</div>
            </div>
            <div>
              <div class="demopage-preview_item"><a class="demopage-preview_inner demopage-img" target="_blank" href="02_home.html" style="background-image: url(assets/preview/02_home.jpg);"></a></div>
              <div class="uk-h3 uk-text-center">02 Home</div>
            </div>
            <div>
              <div class="demopage-preview_item"><a class="demopage-preview_inner demopage-img" target="_blank" href="03_equipment-categories.html" style="background-image: url(assets/preview/03_equipment-categories.jpg);"></a></div>
              <div class="uk-h3 uk-text-center">03 Equipment categories 1</div>
            </div>
            <div>
              <div class="demopage-preview_item"><a class="demopage-preview_inner demopage-img" target="_blank" href="04_equipment-categories.html" style="background-image: url(assets/preview/04_equipment-categories.jpg);"></a></div>
              <div class="uk-h3 uk-text-center">04 Equipment categories 2</div>
            </div>
            <div>
              <div class="demopage-preview_item"><a class="demopage-preview_inner demopage-img" target="_blank" href="05_all-equipments-list.html" style="background-image: url(assets/preview/05_all-equipments-list.jpg);"></a></div>
              <div class="uk-h3 uk-text-center">05 All equipments list</div>
            </div>
            <div>
              <div class="demopage-preview_item"><a class="demopage-preview_inner demopage-img" target="_blank" href="06_all-equipments-grid.html" style="background-image: url(assets/preview/06_all-equipments-grid.jpg);"></a></div>
              <div class="uk-h3 uk-text-center">06 All equipments grid</div>
            </div>
            <div>
              <div class="demopage-preview_item"><a class="demopage-preview_inner demopage-img" target="_blank" href="07_equipment-detail.html" style="background-image: url(assets/preview/07_equipment-detail.jpg);"></a></div>
              <div class="uk-h3 uk-text-center">07 Equipment detail</div>
            </div>
            <div>
              <div class="demopage-preview_item"><a class="demopage-preview_inner demopage-img" target="_blank" href="08_blog-grid.html" style="background-image: url(assets/preview/08_blog-grid.jpg);"></a></div>
              <div class="uk-h3 uk-text-center">08 Blog grid</div>
            </div>
            <div>
              <div class="demopage-preview_item"><a class="demopage-preview_inner demopage-img" target="_blank" href="09_blog-default.html" style="background-image: url(assets/preview/09_blog-default.jpg);"></a></div>
              <div class="uk-h3 uk-text-center">09 Blog default</div>
            </div>
            <div>
              <div class="demopage-preview_item"><a class="demopage-preview_inner demopage-img" target="_blank" href="10_blog-post.html" style="background-image: url(assets/preview/10_blog-post.jpg);"></a></div>
              <div class="uk-h3 uk-text-center">10 Blog post</div>
            </div>
            <div>
              <div class="demopage-preview_item"><a class="demopage-preview_inner demopage-img" target="_blank" href="11_about-us.html" style="background-image: url(assets/preview/11_about-us.jpg);"></a></div>
              <div class="uk-h3 uk-text-center">11 About us</div>
            </div>
            <div>
              <div class="demopage-preview_item"><a class="demopage-preview_inner demopage-img" target="_blank" href="12_contact-us.html" style="background-image: url(assets/preview/12_contact-us.jpg);"></a></div>
              <div class="uk-h3 uk-text-center">12 Contact us</div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  <script src="assets/js/libs.js"></script>
  <script src="assets/js/main.js"></script>
</body>

</html>